@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

.cart__container {
  width: 77%;
  margin: 0 auto;
  color: rgb(245, 245, 245);
  font-family: "Inter", sans-serif;
}

.cart__title {
  margin: 1% 0;
  display: flex;
  justify-content: space-between;
}

#cart__title_main {
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -0.3px;
}

.cart__price {
  display: flex;
}

#cart__price_left {
  color: #f5f5f599;
  margin-right: 10px;
  font-size: 14px;
  line-height: 35px;
  letter-spacing: 0.2px;
}
#cart__price_right {
  border-radius: 40px;
  height: 35px;
  line-height: 35px;
  padding: 0px 15px;
  border: 1px solid rgba(245, 245, 245, 0.6);
  background-color: rgb(32, 32, 32);
  color: rgb(245, 245, 245);
}

/* cart mid */
.cart__catalog {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  padding-bottom: 5%;
}

.cart__left {
  width: 70%;
}

/* cart-pay */

.cart__right {
  width: 25%;
}
.cart__pay {
}

.pay-inputs {
  margin-bottom: 3%;
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 3%;
  color: #e7e7e7;
}

.cart__right_title {
  font-size: 22px;
  width: 50%;
}

.cart__pay {
}
.cart__pay_price {
  display: flex;
  justify-content: space-between;
}

.pay__confirm {
  width: 100%;
  color: #e7e7e7;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 116, 228);
  padding: 5%;
  transition: 0.2s;
}

.pay__confirm:hover {
  transition: 0.2s;
  filter: brightness(80%);
}
/* cart - 0 */
.cart__none {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  padding-bottom: 5%;
}

.cart__svg {
  display: block;
  line-height: 0;
  width: 80px;
  height: 80px;
  color: rgb(58, 58, 58);
}

#cart__is_empty {
  margin-top: 3%;
  color: rgb(245, 245, 245);
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.3px;
}
#cart__to_store {
  font-weight: 300;
  font-size: 15px;
  letter-spacing: -0.3px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(245, 245, 245, 0.6);
  transition: 0.4s;
  cursor: pointer;
}

#cart__to_store:hover {
  border-bottom: 1px solid rgba(255, 255, 255);
  color: rgba(245, 245, 245);
  transition: 0.4s;
}
