@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

.products__container {
  width: 77%;
  margin: auto;
  color: rgb(245, 245, 245);
  font-family: "Inter", sans-serif;
}

.products__inner {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}

.products__catalog {
  width: 75%;
}

.all__products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
}

.products__filter {
  width: 25%;
}
