@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

.home__carousel {
  display: flex;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-family: "Inter", sans-serif;
}

.home__adapt_carousel {
  display: none;
}

/* left side */
.home__carousel_left {
  width: 820px;
  height: 460px;
  cursor: pointer;
  position: relative;
}

.carousel__left_image {
  border-radius: 20px;
}

.carousel__left_descr {
  text-align: left !important;
  left: 40px !important;
  right: auto !important;
  bottom: 15px !important;
}

.carousel__left_descr > h3 {
  font-size: 32px !important;
}

@keyframes anime {
  0% {
    transform: translateX(80%);
  }
  100% {
    transform: translateX(0);
  }
}

.carousel__left_descr-img-1 {
  bottom: 70%;
  position: absolute;
  width: 300px;
  height: 250px;
  animation: anime 1s forwards;
}

.carousel__left_descr-img-2 {
  height: 120px;
  width: 300px;
  bottom: 105%;
  left: 1%;
  position: absolute;
  animation: anime 1s forwards;
}
.carousel__left_descr-img-3 {
  width: 340px;
  height: 100px;
  bottom: 100%;
  position: absolute;
  animation: anime 1s forwards;
}

.carousel__left_descr-img-4 {
  height: 210px;
  width: 210px;
  bottom: 70%;
  left: 8%;
  position: absolute;
  animation: anime 1s forwards;
}

.left__descr {
  width: 45% !important;
  font-size: 17px !important;
}

.left__descr_bottom {
  display: flex;
}

.left__descr_bottom > button {
  font-size: 13px !important;
  font-weight: 500;
  color: black;
  border: none;
  border-radius: 3px;
  background-color: #e7e7e7;
  padding: 0 25px;
  height: 40px;
  text-transform: uppercase;
  transition: 0.5s;
}

.left__descr_bottom > button:hover {
  filter: brightness(110%);
  transition: 0.5s;
}

.home__wish {
  margin-left: 2%;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}

.home__wish:hover {
  background: rgba(241, 241, 241, 0.3);
  transition: 0.3s;
}

.home__wish > img {
  width: 20px;
  height: 20px;
}

.home__wish > p {
  margin-left: 10px;
  margin-bottom: 0;
}

/* right side  */

.home__carousel_right {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.carousel__right_items {
  position: relative;
  width: 176px;
  height: 74px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 3px;
  cursor: pointer;
  transition: 0.2s;
}

.carousel__right_items:hover {
  background-color: #363636;
  transition: 0.2s;
}

.carousel__right_img {
  border-radius: 10px;
  width: 40px;
  height: 53px;
  border: 4px;
  z-index: 2;
}

.carousel__right_title {
  width: 90px;
  height: 0;
  font-size: 12px;
  padding-bottom: 20px;
  z-index: 2;
  color: #f5f5f5;
}

.yea {
  background-color: #363636;
}

@keyframes fillAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.filled {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  transition: width 10s linear;
  opacity: 0.1;
  background-color: #fff;
  animation: fillAnimation 10s linear forwards;
}
