.distribution {
  background-color: #121212;
}

/* HEAD */

.distribution .container__head {
  width: 75%;
  margin: auto;
  padding-top: 8rem;
}

.head {
  background: rgb(3, 5, 86)
    linear-gradient(315deg, rgb(32, 14, 67), rgb(3, 5, 86), rgb(4, 4, 24));
  width: 100%;
  height: auto;
  border-radius: 5px;
  display: flex;
}

.distribution .head__image {
  width: 50%;
}

.distribution .head__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffff;
}

.distribution .head__info_logo {
  width: 80px;
  margin-top: 7rem;
}

.distribution .head__info_title {
  font-size: 50px;
  font-weight: 700;
  margin-top: 3rem;
}

.distribution .head__info_btn {
  width: 13rem;
  height: 3.5rem;
  font-weight: bold;
  color: #121212;
  border: none;
  border-radius: 10px;
  margin-top: 2rem;
}

.distribution .head__info_descr {
  font-size: 16px;
  font-weight: 500;
  margin-top: 2rem;
}

/* HEAD */

/* INFO */

.distribution .container__info {
  width: 75%;
  margin: auto;
}

.distribution .epic__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.distribution .epic__info_item {
  margin-top: 1rem;
  width: 32.5%;
  display: flex;
  flex-direction: column;
  border: solid 1px #2a2a2a;
  border-radius: 10px;
  padding: 3.5rem 3rem;
  color: white;
  align-items: center;
  text-align: center;
}

.distribution .epic__info_image {
  width: 12rem;
}

.distribution .epic__info_title {
  font-size: 36px;
  color: white;
  margin-top: 1rem;
  opacity: 1;
}

.epic__item_descr {
  margin-top: 1.5rem;
  color: #9a9a9a;
  font-size: 22px;
  line-height: 30px;
}

/* INFO */

/* COMMUNITY */

.container__community {
  width: 75%;
  margin: auto;
}

.community {
  background: rgba(22, 39, 49, 0)
    linear-gradient(
      to right,
      rgb(22, 39, 49) 31%,
      rgba(22, 39, 49, 0.8) 46%,
      rgba(22, 39, 49, 0.1) 63%,
      rgba(22, 39, 49, 0.1) 82%
    );
  margin-top: 1.2rem;
  width: 100%;
  display: flex;
  border: solid 1px #2a2a2a;
  border-radius: 10px;
}

.community__main {
  display: flex;
  width: 45%;
}

.community__main_image {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 3rem;
}

.community__descr_p {
  font-size: 22px;
  color: #969597;
  text-align: center;
  margin-top: 7rem;
  margin-left: 10rem;
}

.communtiy__descr_a {
  color: #969597;
  font-size: 18px;
  margin-left: 19rem;
  text-decoration-style: solid;
}

.communtiy__descr_a:hover {
  color: #ffff;
}

/* COMMUNITY */

/* SERVICES */

.container__services {
  width: 75%;
  margin: auto;
}

.services {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.services__left {
  display: flex;
  border: solid 1px #2a2a2a;
  width: 48.8%;
  border-radius: 10px;
  background: linear-gradient(
      to right,
      rgb(26, 12, 71) 31%,
      rgba(26, 12, 71, 0.8) 46%,
      rgba(26, 12, 71, 0.1) 63%,
      rgba(26, 12, 71, 0.1) 82%
    )
    rgba(26, 12, 71, 0);
}

.services__left_image {
  width: 23rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.services__right_image {
  width: 23rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.services__right {
  display: flex;
  border: solid 1px #2a2a2a;
  width: 49.9%;
  border-radius: 10px;
  background: linear-gradient(
      to right,
      rgb(26, 12, 71) 31%,
      rgba(26, 12, 71, 0.8) 46%,
      rgba(26, 12, 71, 0.1) 63%,
      rgba(26, 12, 71, 0.1) 82%
    )
    rgba(26, 12, 71, 0);
}

.services__right_descr,
.services__left_descr {
  width: 40%;
}

.services__right_descr_p,
.services__left_descr_p {
  color: #9a9a9b;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin-top: 5rem;
}

.services__right_descr_a {
  margin-left: 5.5rem;
  color: #969597;
}

.services__left_descr_a {
  margin-left: 2.5rem;
  color: #969597;
}

.services__left_descr_a:hover,
.services__right_descr_a:hover {
  color: #ffff;
}
/* SERVICES */

/* QUESTIONS */

.questions__container {
  width: 75%;
  margin: auto;
}

.questions__title {
  text-align: center;
  color: #ffff;
  font-size: 40px;
  font-weight: 300;
  font-family: sans-serif;
}

.questions__ul {
  padding: 0%;
  margin: 0%;
  margin-bottom: 8rem;
}

.questions__li {
  margin: 1rem 0px;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.questions__li:hover {
  cursor: pointer;
}

.questions__items_title {
  font-family: sans-serif;
  color: #ffff;
  font-size: 20px;
  font-weight: 700;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #2a2a2a;
  margin: 0px;
}

.questions__plus {
  width: 30px;
  height: 30px;
}
.questions__minus {
  width: 25px;
  height: 25px;
}

.questions__items_descr {
  color: #899a9a;
  font-size: 16px;
  font-weight: 500;
}

.questions__items_descr a {
  color: #899a9a;
}

/* QUESTIONS */
