footer {
  width: 100%;
  background-color: #202020;
}

footer .section-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .section-2 {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #e7e7e7;
}

footer a {
  text-decoration: none;
  color: #ccc;
  transition: 0.5s;
}

footer a:hover {
  color: #007aff;
  transition: 0.5s;
}

footer .icon {
  cursor: pointer;
  margin: 3em 0.3em;
}

footer .icon-tg {
  margin: 0;
}

footer .icon path {
  transition: 0.5s;
}

footer .icon:hover path {
  fill: #007aff;
  transition: 0.5s;
}

footer .up-btn {
  cursor: pointer;
}

footer .up-btn path {
  width: 35px;
  transition: 0.5s;
}

footer .up-btn:hover path {
  transition: 0.5s;
  stroke: #007aff;
}

footer h4 {
  font-size: 1em;
  opacity: 0.4;
  color: #ccc;
  margin-bottom: -0.1em;
}

footer .list-box {
  width: 100%;
  display: flex;
  gap: 4%;
}

footer .footer-list {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  padding: 0;
}

footer li {
  padding-top: 0.5em;
}

footer .footer-copyright__box {
  color: #ccc;
  width: 35%;
  font-size: 0.8em;
  padding: 2em 0;
}

footer .icon-end {
  width: 34px;
  cursor: pointer;
}

footer .icon-end path {
  transition: 0.5s;
}

footer .icon-end:hover path {
  fill: #fff;
  transition: 0.5s;
}

footer .section-3 {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  font-size: 0.9em;
  padding-bottom: 0;
}
