.product-details-container {
  width: 75%;
  height: 100%;
  margin: auto;

  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.product-details__section1 {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.product-details-left {
  width: 63%;
  height: 100%;
}

.product-details-left h3 {
  color: #f5f5f5;
  font-size: 2.8em;
}

.product-details-right {
  position: sticky;
  top: 90px;
  right: 0;
  left: 0;
  width: 35%;
  height: 80%;
}

.product-logo-block {
  width: 100%;
  margin-top: 100px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.price {
  font-size: 1.2em;
  color: #f5f5f5;
  margin: 10px 0;
}

.product-details-container button {
  font-size: 1em !important;
}

.product-details-container .like-icon-unactive:hover path {
  fill: red;
  stroke: red;
}

.product-details-container .like-icon-unactive path {
  stroke: #fff;
}

.product-details-container .like-icon-active path {
  fill: red;
  stroke: red;
}

.product-details-rating__title {
  margin: 20px 0;
}

.product-details-rating__title .raiting-on-num {
  color: #f5f5f5;
  width: fit-content;
  padding: 3px 5px;
  border: 1px solid #2a2a2a;
  background-color: #2a2a2a;
  border-radius: 4px;
}

.product-logo {
  width: 50%;
}

.outlined-btn:hover {
  background-color: rgba(255, 255, 255, 0.49) !important;
  color: #f5f5f5 !important;
}

.product-details__more-about-product-list {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 0;
}

.product-details__more-about-product-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 1em;
}

.product-details__more-about-product-list li h6 {
  color: rgba(245, 245, 245, 0.6);
}

.product-details__more-about-product-list li p {
  color: #f5f5f5;
  font-size: 1em;
}

.product-details-genres {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.product-details-genres div {
  width: 45%;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 20px;
}

.product-details-genres h6 {
  color: rgba(245, 245, 245, 0.6);
}

.comment_input {
  color: #f2f2f2;
  background: #262626;
  border: 1px solid #434343;
  height: 50px;
}

.comment_input:focus {
  background: #434343;
  border-color: #f2f2f2;
}

.comment_input:not(:placeholder-shown) {
  color: #f2f2f2;
}

.add-comment-btn {
  color: #f2f2f2;
  background-color: #474747;
  border: 1px solid #474747;
}

.add-comment-btn:hover {
  background-color: #606060;
  border: 1px solid #606060;
}

.product-details-genres p {
  color: #f5f5f5;
  text-decoration: underline;
}

.product-details__section1 .show-more {
  width: 100%;
  padding: 20px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(245, 245, 245);
  margin-bottom: 50px;
}

.product-details__section1 .show-more:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.product-details__section2 {
  width: 63%;
}

.product-details-links__block {
  width: 100%;
  margin-top: 40px;
}

.product-details-links__block h5 {
  color: #f5f5f5;
  font-size: 1.3em;
  margin-bottom: 20px;
}

.product-details-links {
  width: 100%;
  padding: 35px 80px;
  background-color: #262626;
  border: 1px solid #262626;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-details__raiting {
  margin: 50px 0;
}

.product-details__raiting h5,
.system-requirements__block {
  color: #f5f5f5;
  font-size: 1.3em;
}

.product-details__raiting p {
  color: rgba(245, 245, 245, 0.6);
  font-size: 0.85em;
}

.product-details__raiting h4 {
  color: #f5f5f5;
  font-size: 4.3em;
}

.product-details__reviews-block {
  width: 100%;
  margin: 50px 0;
  font-size: 1em;
  color: rgb(245, 245, 245, 0.6);
}

.product-details__reviews-block .about-user {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.product-details__reviews-block .about-user h6 {
  color: #f5f5f5;
}

.product-details__reviews-block .reviews {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.one-review h6 {
  font-size: 1em;
}

.product-details__reviews-block .one-review {
  width: 30%;
  padding: 20px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(38, 38, 38);
  border-radius: 4px;
  background-color: rgb(38, 38, 38);
}

.product-details__reviews-block .one-review p {
  margin-top: 20px;
}

.system-requirements__block {
  margin: 50px 0;
  font-size: 14px;
}

.system-requirements__block h5 {
  margin-bottom: 30px;
}

.system-requirements__block h4 {
  color: #f5f5f5;
  text-align: center;
  font-size: 1.4em;
}

.system-requirements {
  width: 100%;
  padding: 35px 60px;
  background-color: #262626;
  border-radius: 4px;
}

.system-requirements h5,
.system-requirements h6 {
  color: #f5f5f599;
  font-size: 1em;
}

.system-requirements h5 {
  margin-bottom: 40px;
}

.system-requirements__block .req {
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff1a;
}

.system-requirements__block .minimum,
.system-requirements__block .recommendations {
  width: 50%;
  padding: 0;
}

.system-requirements__block .copyirights {
  margin-top: 40px;
  color: rgba(245, 245, 245, 0.6);
  font-size: 0.85em;
}
