.search {
  background-color: #121212;
  height: 90px;
}

.search__input_group {
  width: 18%;
  background-color: #202020;
  display: flex;
  height: 35px;
  align-items: center;
  border-radius: 20px;
  margin-right: 2rem;
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.2);
}

.search__input {
  width: 100%;
  background-color: #00000000;
  height: 100%;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 14px;
}

.search__input_icon {
  width: 15px;
  height: 15px;
  margin: 0.7rem;
  color: #9b8c73;
}

.search__items {
  color: #949494;
  font-weight: 600;
  font-size: 18px;
  padding: 7px;
}

.search__items:hover {
  color: #adadad;
}

.search__items_active {
  border: solid 1px white;
  border-radius: 4px;
  color: white;
}

.search__items_active:hover {
  color: white;
}
